.footer {
  background-color: #f4f7fc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    padding: 20px 0;

    .footer-logo {
      flex: 1;
      img {
        width: 150px;
      }
    }

    .footer-contact {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 330px;

      .footer-info {
        display: flex;
        flex-direction: column;
        p {
          display: flex;
          color: var(--500, rgba(100, 116, 139, 1));
          align-items: center;
          gap: 10px;
          font-size: 14px;
          margin: 5px 0;

          i {
            color: #1353dd;
            font-size: 18px;
          }
        }
      }

      .footer-social {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 15px;

        span {
          color: var(--500, rgba(100, 116, 139, 1));
          margin-right: 10px;
          font-size: 14px;
        }

        a {
          font-size: 18px;
          color: #1353dd;
          &:hover {
            color: #2d56ec;
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #e0e0e0;
    width: 90%;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    color: var(--500, rgba(100, 116, 139, 1));

    .footer-nav {
      display: flex;
      gap: 56px;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: #64748b;
          font-size: 14px;
          &:hover {
            color: #1353dd;
          }
        }
      }
    }

    p {
      font-size: 12px;
      color: #64748b;
      margin: 0;
    }
  }

  // Responsive styles for screen size less than 768px
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-left: 0 !important;

      .footer-logo {
        margin-bottom: 20px;
        img {
          width: 120px;
        }
      }

      .footer-contact {
        align-items: center;

        .footer-info {
          p {
            font-size: 12px;
            gap: 8px;
          }
        }

        .footer-social {
          span {
            font-size: 12px;
          }

          a {
            font-size: 16px;
          }
        }
      }
    }

    .footer-bottom {
      flex-direction: column;
      align-items: center;
      padding: 20px 5%;

      .footer-nav {
        flex-direction: row;
        gap: 4vw;
      }

      p {
        margin-top: 20px;
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer .footer-content .footer-contact {
      align-items: center;
      padding-left: 0;
  }
}