.header {
  width: 100%;
  height: 68px;
  padding: 12px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--300, #CBD5E1);
  background: linear-gradient(180deg, #e3f0f9 100%, #f8fafc 100%);

  .container {
    max-width: 1336px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    img {
      height: 20px;
      width: auto;
      display: block;
    }
  }

  .nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    ul {
      list-style: none;
      display: flex;
      gap: 30px;

      li a {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #64748B;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #2d64ef;
        }
      }
    }
  }

  .btn-start-trial {
    background: linear-gradient(90deg, #2D56EC 0%, #1AACEA 100%);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    font-size: 14px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0051e6;
    }
  }

  @media (max-width: 768px) {
    height: auto;
    padding: 12px 20px;

    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      img {
        height: 25px;
      }
    }

    .nav, .btn-start-trial {
      display: none;
    }

    .menu-toggle {
      display: block;
      cursor: pointer;
      background: none;
      border: none;

      .bar {
        width: 25px;
        height: 3px;
        background-color: #64748B;
        margin: 5px 0;
        transition: all 0.3s ease-in-out;
      }
    }

    .nav.active {
      display: flex;
      position: absolute;
      right: 20px;
      top: 60px;
      flex-direction: column;
      background: white;
      border: 1px solid #CBD5E1;
      padding: 20px;
      z-index: 10;

      ul {
        flex-direction: column;
        gap: 10px;

        li {
          text-align: right;
        }
      }
    }
  }
}
