.enterprise-section {
  background-color: #f8f9fc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.enterprise-text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  letter-spacing: 0.24em;
  color: #a0a0a0;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: nowrap;
  padding: 0 20px;
}

.enterprise-logo {
  width: 108px;
  height: 48px;
  object-fit: contain;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .enterprise-text{
    font-size: 12px;
  }
  .logo-container {
    gap: 20px;
    flex-wrap: nowrap;
    overflow: hidden;
  }
}
