.integrations {
  padding: 60px 20px;
  text-align: center;
  background: #E3F0F9;

  h2 {
    font-size: 40px;
    background: linear-gradient(90.16deg, #2D56EC 0.21%, #1AACEA 100.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px; /* Add margin here */
  }

  .flowchart {
    max-width: 100%;
  }

  .integration-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .card {
      background: white;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      width: 350px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: left;

      h3 {
        color: var(--600, #475569);
        font-size: 20px;
        margin-bottom: 10px;
      }

      p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.68px;
        color: var(--500, #64748B);
        margin-bottom: 10px;
      }

      .icon {
        margin-bottom: 15px;
      }
    }

    .hrms {
      background: #fdf6f0;
      border-color: #fdd8b7;
    }

    .finance {
      background: #f3f9f1;
      border-color: #b6f2b1;
    }

    .sso {
      background: #f3f8ff;
      border-color: #c0d8ff;
    }
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
    margin-bottom: 30px; 
  }

  .flowchart {
    display: none;
  }
}
